@import "./mixins/animate-background.scss";

.coupleOfSentences {
  @include animate-background(
    linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%)
  );
  padding-block: 32px;
}

.body {
  display: grid;
  gap: 32px;
}

.blockquote p {
  font-style: italic;
  padding: 32px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  &::before,
  &::after {
    color: white;
  }

  &::before {
    content: "\201C";
  }

  &::after {
    content: "\201D";
  }
}

.author {
  justify-self: right;
}
