@import "./mixins/scale.scss";

.wrapper {
  position: relative;
  overflow: hidden;
}

.item {
  @include scale(1.1, 0.25s);
  cursor: pointer;
  width: 100%;
  height: auto;
}

.masonry {
  display: flex;
  gap: 16px;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}
